header.top-header {
    background-color: #282c34;
    color: white;
}
header.top-header .logo img {
    height: 32px;
}

header.top-header .search {
    flex-grow: 2;
}
header.top-header .search button {
    color: white;
}
header.top-header .search button:hover {
    color: var(--primary);
}
header.top-header .icons button {
    position: relative;
    color: white;
    font-size: 1.2em;
    padding: 0 .5em;
}
header.top-header .icons button .badge {
    position: absolute;
    font-size: 0.5em;
    right: 0;
}
header.top-header .icons button:hover {
    color: var(--primary);
}

header .wishlist .popup {
    right: 0;
    margin-top: 20px;
    min-width: 180px;
    font-size: 0.87rem;
}

header .wishlist .popup:after {
    bottom: 100%;
    right: 6px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    border-color: #fff 0;
    border-bottom-color: #fff;
    border-width: 15px;
    margin-left: -30px;
}
