div.categories-menu a.nav-link {
  color: #1c1c1c;
  font-size: 13px;
  letter-spacing: -.2px;
}

div.categories-menu div.nav-item {
  border-right: 1px solid #eee;
}
div.categories-menu div.nav-item:last-child {
  border-right: none;
}
div.categories-menu div.nav-item .submenu {
  display: none;
  left: 0;
  right: 0;
  margin-top: 55px;
}
div.categories-menu div.nav-item:hover .submenu {
  display: block;
  z-index: 500;
}

div.categories-menu a.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #e65228;
  background: #ededed;
}

div.categories-menu .backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .5s;
  z-index: 100;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
