.product > div {

}

.product:hover > div {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.product .view-gallery {
  text-align: left;
}

.product .close-gallery {
  position: absolute;
  right: 3px;
  top: 0;
  font-size: 1.2em;
  cursor: pointer;
}
.product .view-gallery {
  height: 2.4em;
  overflow: hidden;
}

.product .view-gallery span {
  display: inline-block;
  background-color: #e8e8e8;
  clip-path: polygon(0% 0, 100% 0, 89% 100%, 0% 100%);
  padding: 0.8em 2em;
  font-size: 0.8em;
  cursor: pointer;
  position: relative;
  left: -140px;
  transition: 0.3s;
}

.product:hover .view-gallery span {
  left: 0;
}

.product .view-gallery span:hover {
  background-color: #e45227;
  color: #fff;
}


